<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Grid Layout</title>
    <link rel="stylesheet" href="../static/category.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Choose Your Option</h1>
        </header>
        <main class="grid-container">
            <div class="card" onclick="navigateToChief()">
                <h2>Election Hub</h2>
                <p>Manage the entire voting process, appoint nominees, and oversee elections seamlessly.</p>
            </div>
            <div class="card" onclick="navigateToVoteRegister()">
                <h2>Register Now</h2>
                <p>Sign up securely with your details to become a verified voter for the election.</p>
            </div>
            <div class="card" onclick="navigateToVote()">
                <h2>Polling Booth</h2>
                <p>Cast your vote safely and transparently for your preferred candidate online.</p>
            </div>
            <div class="card" onclick="navigateTo('/results')">
                <h2>Final Tally</h2>
                <p>View the election results, showing winners and votes in winning order.</p>
            </div>
        </main>
        <footer>
            <!-- <p>Designed by <span class="watermark">Nithin Reddy</span></p> -->
             <p style="opacity: 24%;">Designed by <span class="watermark">NR</span></p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.7.3/dist/web3.min.js"></script>
    <script src="../static/category.js"></script>
</body>
</html>
