<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect Your Wallet</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Connect Your Wallet</h1>
            <p>Secure, Seamless, and Smart</p>
        </header>
        <main>
            <button id="connect-button" onclick="connect()">Connect with MetaMask</button>
        </main>
        <footer>
            <!-- <p>Designed by <span class="watermark">Nithin Reddy</span></p> -->
            <p style="opacity: 24%;">Designed by <span class="watermark">NR</span></p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.7.3/dist/web3.min.js"></script>
    <script src="../static/index.js"></script>
</body>
</html>
